.nav{
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    height: 30px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav-block{
    background-color: #111;
}
.nav-logo{
    width: 80px;
    object-fit: contain;
    position: fixed;
    left: 20px;
    color: #b80d00;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}